.parallax1 {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(~assets/img/hero.jpg);
    min-height: 100vh;

}
.parallax2 {
    background: url(~assets/img/bg-1.jpg);
    min-height: 40vh;
    margin-top: 150vh;
}
.parallax3 {
    background: url(~assets/img/bg-2.jpg);
    min-height: 40vh;
}
.parallax4 {
    background: url(~assets/img/bg-3.jpg);
    min-height: 100vh;
}
.parallax1, .parallax2, .parallax3, .parallax4 {
    position: relative;
    filter: blur(0px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.heading {
    position: absolute;
    color: white;
    font-size: 480%;
    top: 40%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    line-height: 100%;
    text-shadow: 0 0 10px black;
}
.heading-sm {
    position: absolute;
    top: 25%;
    width: 100%;
    color: white;
    font-size: 250%;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 10px black;
}
.two-col {
    float: left;
    width: 42%;
    padding: 0 3%;
    text-align: justify;
}

section {
    overflow: auto;
    padding: 50px 50px 50px 100px;
}
.dark {
    overflow: auto;
    padding: 50px 0px;
    background-color: #6D98A8; /* $primary  */
    color: #392525;   /* $base  */
}

@media (max-width: 468px) {
    .heading {
        font-size: 150%;
        margin-top: 25%;
        line-height: 110%;
        letter-spacing: 5px;
        top: 15%;
    }
    .heading-sm {
        font-size: 150%;
        top: 10%;
}
}

@media (max-width: 768px) {

    .two-col {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    section {
        overflow: auto;
        padding: 50px 0px;
    }
    .parallax2 {
        margin-top: 200vh;
    }
    
}
@media (max-width: 1280px) {
    .heading {
        font-size: 250%;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-top: 7%;
        line-height: 120%;
        margin-bottom: 0;
        top: 15%;

    }
    .heading-sm {
        font-size: 150%;
        top: 15%;

    }
    .two-col {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    section {
        overflow: auto;
        padding: 50px 30px;
    }
}