.parallax1 {
    background: url(~assets/img/hero.jpg);
    min-height: 100vh;
}
.parallax2 {
    background: url(~assets/img/bg-1.jpg);
    min-height: 60vh;
}
.parallax3 {
    background: url(~assets/img/bg-2.jpg);
    min-height: 40vh;
}
.parallax4 {
    background: url(~assets/img/bg-3.jpg);
    min-height: 100vh;
}
.parallax1, .parallax2, .parallax3, .parallax4 {
    position: relative;
    filter: brightness(70%);
    filter: blur(0px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.heading {
    position: absolute;
    color: white;
    font-size: 450%;
    top: 50%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    line-height: 100%;
    text-shadow: 0 0 10px black;
}
.heading-sm {
    position: absolute;
    top: 36%;
    width: 100%;
    color: white;
    font-size: 250%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 10px black;
}
.two-col {
    float: left;
    width: 42%;
    padding: 0 4%;
    text-align: justify;
}
section {
    overflow: auto;
    padding: 50px 50px;
}
.dark {
    overflow: auto;
    padding: 50px 50px;
    background-color: #6D98A8; /* $primary  */
    color: #392525;   /* $base  */
}
@media (max-width: 768px) {
    .heading {
        font-size: 250%;
        margin-top: 20%;
        line-height: 120%;
        top: 15%;

    }
    .heading-sm {
        font-size: 150%;
        top: 15%;

    }
    .two-col {
        width: 100%;
        padding: 0;
        text-align: center;
    }
}